.header {
    padding: 50px 0 0 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__nav {
        display: flex;
        align-items: center;
        column-gap: 40px;
        margin: 0 22% 0 20px;

        li a {
            font-size: 1rem;
            font-weight: 500;
            line-height: 160%;
            color: var(--gray-text);
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -3px;
                width: 100%;
                height: 1.5px;
                background-color: var(--gray-text);
                transform: scale(0);
                transition: all 0.4s ease;
            }

            &:hover::after {
                transform: scale(1);
            }
        }

        & li:first-child a {
            color: var(--black-text);
            font-weight: 800;

            &::after {
                background-color: var(--black-text);
            }
        }
    }

    .header__button {
        font-weight: 800;
    }
}