.hero {
    .container {
        position: relative;

        @media (max-width: 1050px) {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .hero__background-img {
            background: url(../img/image1.png) no-repeat center;
            background-size: contain;
            width: 885px;
            height: 468px;
            position: absolute;
            bottom: -100px;
            right: -130px;
            z-index: -3;

            @media (max-width: 1050px) {
               display: none; 
            }
        }
    }
}

.hero__text {
    margin: 145px 0 0 0;

    @media (max-width: 1050px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 800px) {
        margin: 100px 0 0 0;
    }

    h1 {
        color: var(--black-text);
        font-size: 5rem;
        font-weight: 700;
        line-height: 110%;

        max-width: 650px;

        @media (max-width: 1050px) {
            text-align: center;
        }

        @media (max-width: 750px) {
            font-size: 3.2rem;
        }

        @media (max-width: 420px) {
            font-size: 2.5rem;
        }
    }

    p {
        color: var(--gray-text);
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 160%;

        max-width: 390px;
        margin: 50px 0;

        @media (max-width: 750px) {
            font-size: 1rem;
            margin: 35px 0;
        }

        @media (max-width: 420px) {
            font-size: 0.8rem;
            text-align: center;
        }
    }
}

.hero__button {
    background-color: var(--purpule);

    span {
        font-weight: 800;
    }

    &:hover {
        background-color: var(--purpule-hover);
    }
}