.panel {
    margin: 30px 0 0 0;

    .container {
        border: 2px solid rgb(36, 30, 135);
        border-radius: 20px;
        background-color: rgb(215, 238, 246);
        display: flex;
        justify-content: space-around;
    }

    input {
        font-size: 1.1rem;
        background-color: rgb(159, 212, 255);
        padding: 5px;
        border: 1px solid rgb(54, 54, 230);
        border-radius: 8px;
    }

    label {
        margin: 0 0 -20px 0;
        font-size: 1.2rem;
        font-weight: 500;
        color: rgb(6, 6, 90);
    }

    select {
        font-size: 1.05rem;
        background-color: rgb(146, 216, 220);
        padding: 5px;
        border: 1px solid rgb(54, 54, 230);
        border-radius: 8px;

        option {
            background-color: rgb(211, 231, 253);
        }
    }

    #cancel_button {
        background-color: red;
    }
}

.panel__adding {
    flex: 0 1 40%;

    form {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
}

.panel__sorting {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
