.cartPage {
	.container {}

	h1 {
		text-align: center;
		font-size: 2rem;
		font-weight: 700;
		margin: 50px 0;
		letter-spacing: 2px;
	}

	.items-container {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.totalPrice {
		margin: 20px 0 0 0;
		font-size: 1.5rem;
		text-align: end;
	}

	.buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 70px 0 0 0;

		.back {
			padding: 10px;
			color: #fff;
		}

		.continue {
			padding: 10px;
			color: var(--gray);
			border-color: var(--gray);
			font-size: 1.2rem;
			border: 2px solid var(--gray);
			font-weight: bold;
		}
	}
}