.sortContainer {
	position: relative;
	label {
		position: absolute;
		left: 3px;
		top: -17px;
		color: var(--white);
		font-size: 0.95rem;
	}

	.sort {
		width: 120px;
		color: var(--white);
		background-color: rgb(0, 0, 0, 0);
		border: 2px solid var(--gray-text);
		border-radius: 5px;
		padding: 5px;
		font-size: 1rem;

		option {
			background-color: var(--gray);
		}
	}
}