.view {
	padding-top: 150px;

	.container {
		h1 {
			color: var(--black);
			font-size: 3.25rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-align: center;
			margin: 0 0 50px 0;
		}

		.cardContainer {
			display: flex;
			align-items: center;
			justify-content: space-around;
		}

		.buttonContainer {
			display: flex;
			justify-content: center;
		}
	}
}